@model ViewModelAC3

@using ABS.Web.Utility
@using UIHtmlHelper;
@{
    ViewBag.Title = "Create";
}


<div class="container">


    <div class="crumbs">
        <ul id="breadcrumbs" class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href='@Url.Action("Index", "Dashboard", new {area = "Accounting"})'>Dashboard</a>

            </li>
            <li class="current">
                <a href='@Url.Action("Index", "AC3", new {area = "Accounting"})'>Level 3</a>

            </li>
        </ul>
        <ul class="crumb-buttons">
            <li><a href="charts.html" title=""><i class="icon-signal"></i><span>Statistics</span></a></li>
            <li class="dropdown">
                <a href="#" title="" data-toggle="dropdown"><i class="icon-tasks"></i><span>Users <strong>(+3)</strong></span><i class="icon-angle-down left-padding"></i></a>
                <ul class="dropdown-menu pull-right">
                    <li><a href="form_components.html" title=""><i class="icon-plus"></i>Add new User</a></li>
                    <li><a href="tables_dynamic.html" title=""><i class="icon-reorder"></i>Overview</a></li>
                </ul>
            </li>
            <li class="range">
                <a href="#">
                    <i class="icon-calendar"></i>
                    <span></span>
                    <i class="icon-angle-down"></i>
                </a>
            </li>
        </ul>
    </div>
    <!-- /Breadcrumbs line -->
    <!--=== Page Header ===-->
    <div class="page-header">

    </div>
    <!-- /Page Header -->
    @using (Ajax.BeginForm("Create", "AC3", new AjaxOptions {HttpMethod = "POST", OnSuccess = "onSuccessForm"}, new {@class = "form-horizontal"}))
    {
        <!-- /form -->
        <div class="row">
            <div class="col-md-12">
                <div class="widget box">
                    <div class="widget-header">
                        <h4><i class="icon-reorder"></i>Account Ledger 3</h4>
                        <div class="toolbar no-padding">
                            <div class="btn-group">
                                @if (Convert.ToBoolean(@ViewBag.UserViewPrivilige))
                                {
                                    <a class="btn btn-info margin-right-btn glyphicon glyphicon-arrow-left" href=@Url.Content("~/Accounting/AC3") data-toggle="tooltip" title="Back to List">Show List</a>
                                }
                                <button type="submit" class="btn btn-success margin-right-btn glyphicon glyphicon-ok" title="Save">Save</button>
                                <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content">
                        <div class="row">


                            <div class="col-md-10 col-md-offset-1">

                                <form class="form-horizontal">
                                    <div class="row">

                                        <div class="col-md-6">

                                            @Html.ValidationSummary(true)
                                            <div class="form-group">
                                                <div class="col-sm-4 control-label">
                                                    @Html.LabelFor(model => model.AC1Id)
                                                </div>

                                                <div class="col-sm-8">
                                                    @Html.SimpleDropDownFor(model => model.AC1Id, @Url.Content("~/Accounting/AC1/GetAccountLedger1List/"),
                                                        new {@class = "form-control input-sm"})

                                                    @Html.ValidationMessageFor(model => model.AC1Id)
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-sm-4 control-label">
                                                    @Html.LabelFor(model => model.AC2Id)
                                                </div>

                                                <div class="col-sm-8">
                                                    @Html.CascadingDropDownFor(model => model.AC2Id, @Url.Content("~/Accounting/AC2/GetAccountLedger2List/?AC1Id="), "AC1Id", new {@class = "form-control input-sm"})

                                                    @Html.ValidationMessageFor(model => model.AC2Id)
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-sm-4 control-label">
                                                    @Html.LabelFor(model => model.AC3ManualCode)
                                                </div>

                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(model => model.AC3ManualCode, new {@Value = ViewBag.Code, @class = "form-control input-sm", @readonly = "readonly", @style = "color:red; font-weight:bold;"})

                                                    @Html.ValidationMessageFor(model => model.AC3ManualCode)
                                                </div>
                                            </div>
                                            <div class="form-group">

                                                <div class="col-sm-4 control-label">
                                                    @Html.LabelFor(model => model.AC3Name)
                                                </div>
                                                <div class="col-sm-8">
                                                    @*@Html.HiddenFor(model => model.Id, new {@class = "form-control input-sm"})*@
                                                    @Html.AutocompleteFor(model => model.AC3Name, model => model.Id, "GetLedger", "AC3", false, new { htmlAttributes = new { @class = "form-control input-sm", data_type = "AC3" } })
                                                    @*  @Html.TextBoxFor(model => model.AC3Name, new { @class = "form-control input-sm"})*@


                                                    @Html.ValidationMessageFor(model => model.AC3Name)
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <div class="col-sm-4 control-label">
                                                    @Html.LabelFor(model => model.IsAccountLedger)
                                                </div>

                                                <div class="col-sm-8">
                                                    @Html.CheckBoxFor(model => model.IsAccountLedger)

                                                    @Html.ValidationMessageFor(model => model.IsAccountLedger)
                                                </div>
                                            </div>



                                        </div>
                                    </div>

                                </form>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }


</div>


