<div id="project-switcher" class="container project-switcher">
    <div id="scrollbar">
        <div class="handle"></div>
    </div>
    <div id="frame">
        <ul class="project-list">
            <li>
                <a href="@Url.Action("Index", "Dashboard", new { area = "SystemCommon" })">
                    <span class="image"><i class="icon-compass"></i></span>
                    <span class="title">Setitngs</span>
                </a>
            </li>
           
            <li class="current">
                <a href="@Url.Action("Index", "Dashboard", new { area = "Sales" })">
                    <span class="image"><i class="icon-compass"></i></span>
                    <span class="title">Sales</span>
                </a>
            </li>
            
            <li>
                <a href="@Url.Action("Index", "Dashboard", new { area = "Accounting" })">
                    <span class="image"><i class="icon-compass"></i></span>
                    <span class="title">Accounts</span>
                </a>
            </li>

            <li>
                <a href="@Url.Action("Index", "Dashboard", new { area = "Commercial" })">
                    <span class="image"><i class="icon-compass"></i></span>
                    <span class="title">Commercial</span>
                </a>
            </li>

            <li>
                <a href="@Url.Action("Index", "Dashboard", new { area = "Inventory" })">
                    <span class="image"><i class="icon-compass"></i></span>
                    <span class="title">Inventory</span>
                </a>
            </li>

            <li>
                <a href="@Url.Action("Index", "Dashboard", new { area = "Purchase" })">
                    <span class="image"><i class="icon-compass"></i></span>
                    <span class="title">Purchase</span>
                </a>
            </li>

            <li>
                <a href="@Url.Action("Index", "Dashboard", new { area = "Planning" })">
                    <span class="image"><i class="icon-compass"></i></span>
                    <span class="title">Planning</span>
                </a>
            </li>

            <li>
                <a href="@Url.Action("Index", "Dashboard", new { area = "Production" })">
                    <span class="image"><i class="icon-compass"></i></span>
                    <span class="title">Production</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Dashboard", new { area = "HRPayroll" })">
                    <span class="image"><i class="icon-compass"></i></span>
                    <span class="title">HR & Payroll</span>
                </a>
            </li>
        </ul>
    </div> <!-- /#frame -->
</div>
