@using UIHtmlHelper
@model ViewModelVoucherMaster



<div class="container">


    <div class="crumbs">
        <ul id="breadcrumbs" class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href='@Url.Action("Index", "Dashboard", new { area = "Accounting" })'>Dashboard</a>

            </li>
            <li class="current">
                <a href='@Url.Action("Create", "ReceiptVoucher", new { area = "Accounting" })'>ReceiptVoucher Voucher</a>

            </li>
        </ul>
        <ul class="crumb-buttons">
            <li><a href="charts.html" title=""><i class="icon-signal"></i><span>Statistics</span></a></li>
            <li class="dropdown">
                <a href="#" title="" data-toggle="dropdown"><i class="icon-tasks"></i><span>Users <strong>(+3)</strong></span><i class="icon-angle-down left-padding"></i></a>
                <ul class="dropdown-menu pull-right">
                    <li><a href="form_components.html" title=""><i class="icon-plus"></i>Add new User</a></li>
                    <li><a href="tables_dynamic.html" title=""><i class="icon-reorder"></i>Overview</a></li>
                </ul>
            </li>
            <li class="range">
                <a href="#">
                    <i class="icon-calendar"></i>
                    <span></span>
                    <i class="icon-angle-down"></i>
                </a>
            </li>
        </ul>
    </div>
    <!-- /Breadcrumbs line -->
    <!--=== Page Header ===-->
    <div class="page-header">

    </div>
    <!-- /Page Header -->
    @using (Ajax.BeginForm("Create", "ReceiptVoucher", new AjaxOptions { HttpMethod = "POST", OnSuccess = "onSuccessForm" }, new { @class = "form-horizontal" }))
    {

      
    <!-- /form -->
        <div class="row">
            <div class="col-md-12">
                <div class="widget box">
                    <div class="widget-header">
                        <h4><i class="icon-reorder"></i>Receipt Voucher</h4>
                        <div class="toolbar no-padding">
                            <div class="btn-group">
                                @if (Convert.ToBoolean(@ViewBag.UserViewPrivilige))
                                {
                                    <a class="btn btn-info margin-right-btn glyphicon glyphicon-arrow-left" href=@Url.Content("~/Accounting/ReceiptVoucher") data-toggle="tooltip" title="Back to List">Show List</a>
                                }
                                <input type="button" class="btn btn-primary btn-sm glyphicon glyphicon-remove" id="resetButton" title="New" value="New"/>
                                <button type="submit" class="btn btn-success margin-right-btn glyphicon glyphicon-ok" title="Save">Save</button>
                                <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-sm-4 control-label">
                                        @Html.LabelFor(model => model.CompanyId)
                                    </div>

                                    <div class="col-sm-8">

                                        @if (ViewBag.Company == null)
                                        {
                                            @Html.SimpleDropDownFor(model => model.CompanyId, @Url.Content("~/Accounting/ACDetails/GetAllCompanyList/"),
                                new { @class = "form-control input-sm" })
                                        }
                                        else
                                        {

                                            @Html.SimpleDropDownFor(model => model.CompanyId, @Url.Content("~/Accounting/ACDetails/GetAllCompanyList/"),
                                                               new { @class = "form-control input-sm", @ViewBag.Company })
                                        }


                                        @Html.ValidationMessageFor(model => model.CompanyId)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-4 control-label">
                                        @Html.LabelFor(model => model.VoucherNo)
                                    </div>
                                    <div class="col-sm-8">
                                        @if (ViewBag.VoucherNo == null)
                                        {
                                            @Html.TextBoxFor(model => model.VoucherNo, new { @Value = "NEW", @class = "form-control input-sm", @readonly = "readonly", @style = "color:red; font-weight:bold;" })
                                        }
                                        else
                                        {
                                            @Html.TextBoxFor(model => model.VoucherNo, new { @Value = ViewBag.VoucherNo, @class = "form-control input-sm", @readonly = "readonly", @style = "color:red; font-weight:bold;" })

                                        }
                                        @Html.ValidationMessageFor(model => model.VoucherNo)
                                    </div>
                                </div>



                                <div class="form-group">
                                    <div class="col-sm-4 control-label">
                                        @Html.LabelFor(model => model.Narration)
                                    </div>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(model => model.Narration, new { @class = "form-control input-sm" })
                                        @Html.ValidationMessageFor(model => model.Narration)
                                    </div>
                                </div>


                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-sm-4 control-label">
                                        @Html.LabelFor(model => model.VoucherTypeName)
                                    </div>

                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(model => model.VoucherTypeName, new { @Value = "Receipt Voucher", disabled = "disabled", @class = "form-control input-sm", @style = "color:red; font-weight:bold;" })
                                        @Html.ValidationMessageFor(model => model.VoucherTypeName)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 control-label">
                                        @Html.LabelFor(model => model.VoucherDateStr)
                                    </div>
                                    <div class="col-sm-8">
                                        @if (ViewBag.VoucherDate == null)
                                        {
                                            <div class='input-group date' id='datetimepicker2'>
                                                @Html.TextBoxFor(model => model.VoucherDateStr, new
                                {
                                    @class = "form-control datetimepicker11"

                                })
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class='input-group date' id='datetimepicker2'>
                                                @Html.TextBoxFor(model => model.VoucherDateStr, new
                                {
                                    @class = "form-control datetimepicker11",
                                    @Value = ViewBag.VoucherDate

                                })
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        }


                                    </div>
                                </div>




                            </div>

                        </div>

                        <hr />
                        <div class="formStaticInfo tableGridStructure">
                            <h2>Receipt Voucher Detail</h2>
                            <div class="table-responsive">
                                <table class="table" id="tbl">
                                    <thead>
                                        <tr>
                                            <th>Ledger Name</th>
                                            <th>Cost Center</th>
                                            <th>Debit</th>
                                            <th>Credit</th>
                                        </tr>
                                    </thead>
                                    <tbody id="voucherRows"></tbody>
                                    <tfoot>
                                        <tr>
                                            <td><button class="AddRow btn btn-success pull-left btn-sm" data-url=@Url.Content("~/Accounting/ReceiptVoucher/BlankResultRow/") data-container="voucherRows">Add New Row</button></td>
                                            <td class="text-right">Total Amount</td>
                                            <td>@Html.TextBoxFor(model => model.TotalDebitAmount, new { @class = "form-control input-sm", @readonly = "readonly", @style = "color:red; font-weight:bold;" })</td>
                                            <td>@Html.TextBoxFor(model => model.TotalCreditAmount, new { @class = "form-control input-sm", @readonly = "readonly", @style = "color:red; font-weight:bold;" })</td>
                                            <td></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    @if (ViewBag.VoucherDate == null)
    {
        <script type="text/javascript">
            $(function () {
                $(".datetimepicker11").datepicker({
                    format: "dd/mm/yyyy",
                    todayHighlight: true,
                    autoclose: true
                });

                $(".datetimepicker11").datepicker('setDate', new Date());
            });

        </script>

    }
    else
    {
        <script type="text/javascript">
            $(function () {
                $(".datetimepicker11").datepicker({
                    format: "dd/mm/yyyy",
                    todayHighlight: true,
                    autoclose: true
                });


            });

        </script>
    }


    @if (ViewBag.Company != null)
    {
        <script type="text/javascript">
            $(function () {
                var Company = '@ViewBag.Company';
                if (Company != 0) {
                    setTimeout(function () {

                        $("#CompanyId").select2("val", Company);

                    }, 1000);
                }
            });

        </script>

    }


</div>



@section AngularScript
{
<script>




    $(document).ready(function () {


        $("#resetButton").on('click', function () {

            $('#form0').trigger("reset");
            $("#VoucherNo").val("NEW");


            $("select[id^='VoucherDetails']").select2("val", "");
            $("select[id^='VoucherDetails']").select2("val", "");


            //Delete table
            $("#tbl tbody").find("tr:gt(1)").remove();
            $(".datetimepicker11").datepicker('setDate', new Date());

            $('.field-validation-error')
             .removeClass('field-validation-error')
             .addClass('field-validation-valid');

            $('.input-validation-error')
                .removeClass('input-validation-error')
                .addClass('valid');

        });


        $.ajax({
            url: "@Url.Content("~/Accounting/ReceiptVoucher/BlankResultRow")",
            type: "POST",
            async: false,
            success: function (response, status, xhr) {
                var nvContainer = $('#voucherRows');
                nvContainer.html(response);
                //   nvContainer.append(response);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                var nvContainer = $('#voucherRows');
                nvContainer.html(errorThrown);
            }

        });

        $.ajax({
            url: "@Url.Content("~/Accounting/ReceiptVoucher/BlankResultRow")",
            type: "POST",
            async: false,
            success: function (response, status, xhr) {
                var nvContainer = $('#voucherRows');
                nvContainer.append(response);
                //   nvContainer.append(response);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                var nvContainer = $('#voucherRows');
                nvContainer.html(errorThrown);
            }

        });


        $(".datetimepicker11").datepicker({
            format: "dd/mm/yyyy",
            todayHighlight: true,
            autoclose: true
        });

        $(".datetimepicker11").datepicker('setDate', new Date());
    });




</script>

}





