@{
    ViewBag.Title = "Chemical Consumption Entry";
}
<div ng-controller="tokenCtrl">
    <div class="container" ng-controller="FinishingChemicalConsumptionCtrl">
        <!-- Breadcrumbs line -->
        <div ng-controller="BreadcrumbCtrl">
            @Html.Partial("~/Areas/SystemCommon/Views/Shared/_Partial/_Breadcrumbs.cshtml")
        </div>
        <!-- /Breadcrumbs line -->
        <!--=== Page Header ===-->
        <div class="page-header">

        </div>
        <!-- /Page Header -->
        <!--=== Page Content ===-->

        <div class="row">
            <div class="col-md-12">
                <div class="widget box">
                    <div class="widget-header">
                        <h4><i class="icon-reorder"></i> {{PageTitle}}</h4>
                        <div class="toolbar no-padding">
                            <div class="btn-group">
                                @Html.Partial("~/Areas/SystemCommon/Views/CommonButton/_cmnButton.cshtml")
                                @*<span id="reset" class="btn btn-danger margin-right-btn" ng-click="clear()">
                                    <i class="icon-refresh"></i> Reset
                                </span>
                                <span id="Show" class="btn btn-info margin-right-btn" ng-click="ShowHide()">
                                    <i class="icon-search" ng-show="IsListIcon"></i>
                                    <i ng-show="IsCreateIcon" class="icon-plus-sign"></i> {{btnChemConsumptionShowText}}
                                </span>
                                <span id="save" class="btn btn-success margin-right-btn" ng-click="save()">
                                    <i class="icon-save"></i> {{btnChemConsumptionSaveText}}
                                </span>
                                <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>*@
                            </div>
                        </div>
                    </div>
                    <div class="widget-content" ng-show="IsfrmShow">
                        @Html.Partial("~/Areas/Production/Views/FinishingChemicalConsumption/_Partial/_formFinishingChemicalConsumption.cshtml")
                    </div>
                </div>
            </div> <!-- /.col-md-12 -->
        </div>
        <div class="row" ng-show="IsShowDetail">
            <div class="col-md-12">
                <div class="widget box">
                    <div class="widget-header">
                        <h4><i class="icon-reorder"></i> {{ListTitle}}</h4>
                        <div class="toolbar no-padding">
                            <div class="btn-group">
                                <input type="button" id="add" class="btn btn-info margin-right-btn" value="Add New Row" ng-click="AddItemToList()" ng-disabled="frmFinishingChemCosumption.$invalid" />
                                <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content no-padding" ng-show="IsShow">
                        @Html.Partial("~/Areas/Production/Views/FinishingChemicalConsumption/_Partial/_tableFinishingChemicalConsumption.cshtml")
                    </div>
                </div>
            </div> <!-- /.col-md-12 -->
        </div>
        <div class="row" ng-hide="IsHidden">
            <div class="col-md-12">
                <div class="widget box">
                    <div class="widget-header">
                        <h4><i class="icon-reorder"></i> {{ListTitleChemConsumptionMaster}}</h4>
                        <div class="toolbar no-padding">
                            <div class="btn-group">
                                <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content no-padding">
                        @*<div when-scrolled="loadAllDCMasterRecords(0)">*@
                        <div>
                            @Html.Partial("~/Areas/Production/Views/FinishingChemicalConsumption/_Partial/_tableFinishingChemicalConsumptionMasterInfo.cshtml")
                        </div>
                    </div>
                </div>
            </div> <!-- /.col-md-12 -->
        </div>
    </div>
</div>
<!-- /.container -->
@section AngularScript{
    <script src="~/Areas/Production/ScriptsNg/Controllers/FinishingChemicalConsumptionCtrl.js"></script>
    <script src="~/Areas/Production/ScriptsNg/Service/CrudService.js"></script>
    <script src="~/Areas/Production/ScriptsNg/Directives/Conversion.js"></script>
    <script src="~/Areas/SystemCommon/ScriptsNg/Controllers/BreadcrumbCtrl.js"></script>
    <script src="~/Areas/Token/TokenController.js"></script>
    <script src="~/Areas/Production/ScriptsNg/Directives/Scroller.js"></script>
}
