@{
    ViewBag.Title = "Material Receive Record";
}
<div ng-controller="tokenCtrl">

    <div class="container" ng-controller="mRRAJCtrl">
        <!-- Breadcrumbs line -->
        <div ng-hide="pageValue" class="ng-hide">
            <!--Logged User-->
            <input type="hidden" id="hUserID" name="userID" value="@Session["UserID"].ToString()" ng-model="UserID" />
            <!--Logged Company-->
            <input type="hidden" id="hCompanyID" name="companyID" value="@Session["CompanyID"].ToString()" ng-model="CompanyID" />
        </div>

        <!-- Breadcrumbs line -->
        <div ng-controller="BreadcrumbCtrl">
            @Html.Partial("~/Areas/SystemCommon/Views/Shared/_Partial/_Breadcrumbs.cshtml")
        </div>
        <!-- /Breadcrumbs line -->
        <!--=== Page Header ===-->
        <div class="page-header">

        </div>
        <!-- /Page Header -->
        <!--=== Page Content ===-->
        <div id="PIDiv">
            <div class="row">

                <div class="col-md-12">
                    <div class="widget box">
                        <div class="widget-header">
                            <h4><i class="icon-reorder"></i> {{PageTitle}}</h4>
                            <div class="toolbar no-padding">
                                <div class="btn-group">

                                    @*<span id="save" class="btn btn-success margin-right-btn" ng-click="save()" ng-disabled="frmMRR.$invalid">
                                            <i class="icon-save"></i> {{btnMrrSaveText}}
                                        </span>
                                        <span id="show" class="btn btn-info margin-right-btn" ng-href="#MrrModal" data-toggle="modal" ng-click="loadMrrRecords()">
                                            <i class="icon-search"></i> {{btnMrrShowText}}
                                        </span>
                                        <span id="reset" class="btn btn-danger margin-right-btn" ng-click="clear()">
                                            <i class="icon-refresh"></i> Reset
                                        </span>*@

                                    <span id="reset" class="btn btn-danger margin-right-btn" ng-click="clear()">
                                        <i class="icon-refresh"></i> Reset
                                    </span>

                                    <span id="Show" class="btn btn-info margin-right-btn" ng-click="ShowHide()">
                                        <i class="icon-search" ng-show="IsListIcon"></i> <i ng-show="IsCreateIcon" class="icon-plus-sign"></i> {{btnMrrShowText}}
                                    </span>

                                    <span id="save" class="btn btn-success margin-right-btn" ng-click="save()" ng-disabled="frmMRR.$invalid">
                                        <i class="icon-save"></i> {{btnMrrSaveText}}
                                    </span>


                                    <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content" ng-show="IsShow">
                            @Html.Partial("~/Areas/Inventory/Views/MRRAJ/_Partial/_formMRR.cshtml")
                        </div>
                    </div>
                </div>
            </div><!-- /.col-md-12 -->
            @*start add for detail items*@

            @*<div class="row">
                    <div class="col-md-12">
                        <div class="widget-header">
                            <div class="toolbar no-padding">
                                <div class="btn-group">
                                    <span>
                                        <a href="javascript:void(0);" ng-href="#RequisitionDetailModal" data-toggle="modal" class="btn btn-info" title="Detail info">
                                            <b ng-click="EmptyRequisitionDetail()">Add Detail</b>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content" ng-show="IsShow">
                            <div>
                                @Html.Partial("~/Areas/Inventory/Views/SPR/_Partial/_formSPRDetail.cshtml")
                            </div>
                        </div>
                    </div>
                </div>*@

            @*END add for detail items*@



            <div class="row" ng-hide="IsHiddenDetail">
                <div class="col-md-12">
                    <div class="widget box">
                        <div class="widget-header">
                            <h4><i class="icon-reorder"></i> {{ListTitleMrrDeatails}}</h4>
                            <div class="toolbar no-padding">
                                <div class="btn-group">
                                    <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content no-padding">
                            @Html.Partial("~/Areas/Inventory/Views/MRRAJ/_Partial/_tableMRRDetailsInfo.cshtml")
                        </div>
                    </div>
                </div> <!-- /.col-md-12 -->
            </div>

            <div class="row" ng-hide="IsHidden">
                <div class="col-md-12">
                    <div class="widget box">
                        <div class="widget-header">
                            <h4><i class="icon-reorder"></i> {{ListTitleMRRMasters}}</h4>
                            <div class="toolbar no-padding">
                                <div class="btn-group">
                                    <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content no-padding">

                            @Html.Partial("~/Areas/Inventory/Views/MRRAJ/_Partial/_tableMRRMastrsInfo.cshtml")

                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div> <!-- /.col-md-12 -->
            </div>


        </div>
        <!-- /Page Content -->
        <!-- /Modal Item Master(Sample) -->
        <div class="row">
            @Html.Partial("~/Areas/Sales/Views/PI/_Partial/_tableSampleNoInfoModal.cshtml")
        </div> <!-- /.row -->
        <!-- /Modal PI Master -->
        @* <div class="row">
                        @Html.Partial("~/Areas/Inventory/Views/MRR/_Partial/_tableMRRMastrsInfo.cshtml")
            </div> <!-- /.row -->*@

        <div class="row">
            @Html.Partial("~/Areas/Inventory/Views/MRR/_Partial/_formBatchSetup.cshtml")
        </div> <!-- /.row -->

        <div class="row">
            @Html.Partial("~/Areas/Inventory/Views/MRR/_Partial/_formLotSetup.cshtml")
        </div> <!-- /.row -->

    </div>
</div>
<!-- /.container -->
@section AngularScript{

    <script src="~/Areas/Inventory/ScriptsNg/Controllers/mRRAJCtrl.js"></script>
    <script src="~/Areas/Inventory/ScriptsNg/Service/MRRService.js"></script>
    <script src="~/Areas/Inventory/ScriptsNg/Service/QCService.js"></script>
    @*<script src="~/Areas/Inventory/ScriptsNg/Controllers/RequisitionCtrl.js"></script>*@
    <script src="~/Areas/Inventory/ScriptsNg/Service/RequisitionService.js"></script>

    @*<script src="~/Areas/Inventory/ScriptsNg/Service/CrudService.js"></script>*@
    <script src="~/Areas/Inventory/ScriptsNg/Directives/Conversion.js"></script>
    <script src="~/Scripts/CustomToastrMessage.js"></script>

    <script src="~/Areas/SystemCommon/ScriptsNg/Controllers/BreadcrumbCtrl.js"></script>
    <script src="~/Areas/Token/TokenController.js"></script>

}
