@{
    ViewBag.Title = "Ball Warping Entry";
}
<div ng-controller="tokenCtrl">
    <div class="container" ng-controller="BallWarpingCtrl">
        <!-- /Breadcrumbs line -->
        <div ng-controller="BreadcrumbCtrl">
            @Html.Partial("~/Areas/SystemCommon/Views/Shared/_Partial/_Breadcrumbs.cshtml")
        </div>
        <!-- /Breadcrumbs line -->
        <!--=== Page Header ===-->
        <div class="page-header">

        </div>
        <!-- /Page Header -->
        <!--=== Page Content ===-->
        <!--==Delete Modal From System Common==-->
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("~/Areas/SystemCommon/Views/DeleteModal/_modalCmnDelete.cshtml")
            </div>
        </div>
        <!--==Delete Modal From System Common==-->

        <div class="row">
            <div class="col-md-12">
                <div class="widget box">
                    <div class="widget-header">
                        <h4><i class="icon-reorder"></i> {{BallWarpingPageTitle}}</h4>
                        <div class="toolbar no-padding">
                            <div class="btn-group">
                                @Html.Partial("~/Areas/SystemCommon/Views/CommonButton/_cmnButton.cshtml")
                                @*<span id="reset" class="btn btn-danger margin-right-btn" ng-click="clear()"><i class="icon-refresh"></i> Reset</span>
                                <span id="Show" class="btn btn-info margin-right-btn" ng-click="ShowHide()"><i id="Icon-Show" class="icon-search"></i>{{btnShowList}}</span>
                                <span id="save" class="btn btn-success margin-right-btn" ng-click="SaveUpdateBallMRR()" ng-if="UserCommonEntity.EnableInsert" ng-show="IsShowSave" ng-disabled="IsSaveDisable">
                                    <i id="Icon-Save" class="icon-save"></i> {{btnSaveText}}
                                </span>
                                <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>*@
                            </div>
                        </div>
                    </div>
                    <div id="frmEntry" class="widget-content"> @*ng-show="IsfrmShow"*@
                        @Html.Partial("~/Areas/Production/Views/BallWarping/_Partial/_formBallWarpingEntry.cshtml")
                    </div>
                </div>
            </div> <!-- /.col-md-12 -->
        </div>
        @*<div class="row" ng-hide="IsHidden">*@
        <div class="row" ng-show="IsShowDetailMachine">
            <div class="col-md-12">
                <div class="widget box">
                    <div class="widget-header">
                        <h4><i class="icon-reorder"></i> {{ListTitleBallWarpingMachineSetup}}</h4>
                        <div class="toolbar no-padding">
                            <div class="btn-group">
                                <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content no-padding">
                        @Html.Partial("~/Areas/Production/Views/BallWarping/_Partial/_tableCountWiseMachineSetup.cshtml")
                    </div>
                </div>
            </div> <!-- /.col-md-12 -->
        </div>
        @*<div class="row" ng-hide="IsHidden">*@
        <div id="frmDetail" class="row">@*ng-show="IsShowDetail"*@
            <div class="col-md-12">
                <div class="widget box">
                    <div class="widget-header">
                        <h4><i class="icon-reorder"></i> {{ListTitleBallWarpingDetail}}</h4>
                        <div class="toolbar no-padding">
                            <div class="btn-group">
                                <input type="button" id="add" class="btn btn-info margin-right-btn" value="Add Rows" ng-click="AddItemToList()" ng-disabled="frmBallWarpingEntry.$invalid" />
                                <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content no-padding" ng-show="IsShow">
                        @Html.Partial("~/Areas/Production/Views/BallWarping/_Partial/_tableBallDetailInfo.cshtml")
                    </div>
                </div>
            </div> <!-- /.col-md-12 -->
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("~/Areas/Production/Views/BallWarping/_Partial/_modalMachineStop.cshtml")
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("~/Areas/Production/Views/BallWarping/_Partial/_modalBreakageDetail.cshtml")
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("~/Areas/Production/Views/BallWarping/_Partial/_modalConsumption.cshtml")
            </div>
        </div>
        <div id="frmList" class="row">@*ng-hide="IsHidden"*@
            <div class="col-md-12">
                <div class="widget box">
                    <div class="widget-header">
                        <h4><i class="icon-reorder"></i> {{ListTitleBallWarpingInfo}}</h4>
                        <div class="toolbar no-padding">
                            <div class="btn-group">
                                <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content no-padding">
                        @Html.Partial("~/Areas/Production/Views/BallWarping/_Partial/_tableBallWarpingMasterInfo.cshtml")
                    </div>
                </div>
            </div> <!-- /.col-md-12 -->
        </div>
    </div>
</div>
<!-- /.container -->
@section AngularScript{
    <script src="~/Areas/Production/ScriptsNg/Controllers/BallWarpingCtrl.js"></script>
    <script src="~/Areas/Production/ScriptsNg/Service/CrudService.js"></script>
    <script src="~/Areas/Production/ScriptsNg/Directives/Conversion.js"></script>
    <script src="~/Areas/Production/ScriptsNg/Directives/Scroller.js"></script>
    <script src="~/Areas/SystemCommon/ScriptsNg/Controllers/BreadcrumbCtrl.js"></script>
    <script src="~/Areas/Token/TokenController.js"></script>

}
