@{
    ViewBag.Title = "Production Entry";
}
<div ng-controller="tokenCtrl">
    <div class="container" ng-controller="productionEntryCtrl">
        <!-- /Breadcrumbs line -->
        <div ng-controller="BreadcrumbCtrl">
            @Html.Partial("~/Areas/SystemCommon/Views/Shared/_Partial/_Breadcrumbs.cshtml")
        </div>
        <!-- /Breadcrumbs line -->
        <!-- /Breadcrumbs line -->
        <!--=== Page Header ===-->
        <div class="page-header">

        </div>
        <!-- /Page Header -->
        <!--=== Page Content ===-->
        <!--==Delete Modal From System Common==-->
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("~/Areas/SystemCommon/Views/DeleteModal/_modalCmnDelete.cshtml")
            </div>
        </div>
        <!--==Delete Modal From System Common==-->

        <div class="row">
            <div class="col-md-12">
                <div class="widget box">
                    <div class="widget-header">
                        <h4><i class="icon-reorder"></i> {{PageTitleMaster}}</h4>
                        <div class="toolbar no-padding">
                            <div class="btn-group">
                                @Html.Partial("~/Areas/SystemCommon/Views/CommonButton/_cmnButton.cshtml")
                                @*<input type="button" id="add" class="btn btn-info margin-right-btn" value="Add New Row" ng-click="AddItemToList()" ng-disabled="frmSizingEntry.$invalid" />*@

                                @*<input type="button" id="reset" class="btn btn-danger margin-right-btn" value="Reset" ng-click="clear()" />
                                <input type="button" id="Show" class="btn btn-info margin-right-btn" value="{{btnShowText}}" ng-click="ShowHide()" />
                                <input type="button" id="save" class="btn btn-success margin-right-btn" value="{{btnSaveText}}" ng-if="UserCommonEntity.EnableInsert" ng-click="Save()" ng-show="IsShowSave" ng-disabled="IsSaveDisable" />
                                <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>*@
                            </div>
                        </div>
                    </div>
                    <div class="widget-content" ng-show="IsfrmShow">
                        @Html.Partial("~/Areas/Production/Views/ProductionEntry/_Partial/_formProductionEntry.cshtml")
                    </div>
                </div>
            </div> <!-- /.col-md-12 -->
        </div>
        <div class="row" ng-show="IsShow">
            <div class="col-md-12">
                <div class="widget box">
                    <div class="widget-header">
                        <h4><i class="icon-reorder"></i> {{PageTitleDetail}}</h4>
                        <div class="toolbar no-padding">
                            <div class="btn-group">
                                <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content no-padding">
                        @Html.Partial("~/Areas/Production/Views/ProductionEntry/_Partial/_tableProductionShrinkageEntry.cshtml")
                    </div>
                </div>
            </div>
        </div><!-- /.col-md-12 -->
        <div class="row" ng-hide="IsHidden">
            <div class="col-md-12">
                <div class="widget box">
                    <div class="widget-header">
                        <h4><i class="icon-reorder"></i> {{ListTitleMaster}}</h4>
                        <div class="toolbar no-padding">
                            <div class="btn-group">
                                <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content no-padding">
                        @Html.Partial("~/Areas/Production/Views/ProductionEntry/_Partial/_tableProductionMaster.cshtml")
                    </div>
                </div>
            </div> <!-- /.col-md-12 -->
        </div>
    </div>
</div>
<!-- /.container -->
@section AngularScript{
    <script src="~/Areas/Production/ScriptsNg/Controllers/ProductionEntryCtrl.js"></script>
    <script src="~/Areas/Production/ScriptsNg/Service/CrudService.js"></script>
    <script src="~/Areas/Production/ScriptsNg/Directives/Conversion.js"></script>
    <script src="~/Areas/Production/ScriptsNg/Directives/Scroller.js"></script>
    <script src="~/Areas/SystemCommon/ScriptsNg/Controllers/BreadcrumbCtrl.js"></script>
    <script src="~/Areas/Token/TokenController.js"></script>
    <script src="~/Areas/Production/ScriptsNg/Directives/Scroller.js"></script>
}
