@{
    ViewBag.Title = "Factory Sales Delivery Order";
}
<div ng-controller="tokenCtrl">
    <div class="container" ng-controller="factorySalesDeliveryOrderEntryCtrl">
        <!-- Breadcrumbs line -->
        <div ng-controller="BreadcrumbCtrl">
            @Html.Partial("~/Areas/SystemCommon/Views/Shared/_Partial/_Breadcrumbs.cshtml")
        </div>
        <!-- /Breadcrumbs line -->
        <!--=== Page Header ===-->
        <div class="page-header">

        </div>
        <!-- /Page Header -->
        <!--=== Page Content ===-->
        <!--==Delete Modal From System Common==-->
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("~/Areas/SystemCommon/Views/DeleteModal/_modalCmnDelete.cshtml")
            </div>
        </div>
        <!--==Delete Modal From System Common==-->
        <div id="DeliveryOrderDiv">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget box">
                        <div class="widget-header">
                            <h4><i class="icon-reorder"></i> {{PageTitle}}</h4>
                            <div class="toolbar no-padding">
                                <div class="btn-group">
                                    <span id="reset" class="btn btn-danger margin-right-btn" ng-click="clear()">
                                        <i class="icon-refresh"></i> Reset
                                    </span>
                                    <span id="Show" class="btn btn-info margin-right-btn" ng-click="ShowHide()">
                                        <i class="icon-search" ng-show="IsListIcon"></i>
                                        <i ng-show="IsCreateIcon" class="icon-plus-sign"></i> {{btnSaleShowText}}
                                    </span>
                                    <span id="save" class="btn btn-success margin-right-btn" ng-click="save()" ng-if="UserCommonEntity.EnableInsert" ng-show="IsShowSave" ng-disabled="frmFactoryDeliveryOrder.$invalid">
                                        <i class="icon-save"></i> {{btnSaleSaveText}}
                                    </span>

                                    <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content" ng-show="IsfrmShow">
                            @Html.Partial("~/Areas/Sales/Views/FactorySalesDeliveryOrderEntry/_Partial/_formFactorySalesDeliveryOrder.cshtml")
                        </div>
                    </div>
                </div>
            </div><!-- /.col-md-12 -->
            <div class="row" ng-hide="IsHidden">
                <div class="col-md-12">
                    <div class="widget box">
                        <div class="widget-header">
                            <h4><i class="icon-reorder"></i> {{ListTitleHDODetails}}</h4>
                            <div class="toolbar no-padding">
                                <div class="btn-group">
                                    <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content no-padding">
                            @Html.Partial("~/Areas/Sales/Views/FactorySalesDeliveryOrderEntry/_Partial/_tableFactorySalesHDODetailsInfo.cshtml")
                        </div>
                    </div>
                </div> <!-- /.col-md-12 -->
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.Partial("~/Areas/Sales/Views/FactorySalesDeliveryOrderEntry/_Partial/_tableFactorySalesDOMasterInfo.cshtml")
                </div> <!-- /.col-md-12 -->
            </div>
            <div class="row" ng-hide="IsHiddenFDO">
                <div class="col-md-12">
                    <div class="widget box">
                        <div class="widget-header">
                            <h4><i class="icon-reorder"></i> {{ListTitleFDOMaster}}</h4>
                            <div class="toolbar no-padding">
                                <div class="btn-group">
                                    <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content no-padding">
                            @Html.Partial("~/Areas/Sales/Views/FactorySalesDeliveryOrderEntry/_Partial/_tableFactorySalesFDOMasterInfo.cshtml")
                        </div>
                    </div>
                </div> <!-- /.col-md-12 -->
            </div>
            <div class="row">
                <div class="col-md-12">
                    @*<div when-scrolled="">*@
                    @Html.Partial("~/Areas/Sales/Views/FactorySalesDeliveryOrderEntry/_Partial/_tableFDODetailsInfo.cshtml")
                    @*</div>*@
                </div> <!-- /.col-md-12 -->
            </div>
        </div>
        <!-- /Page Content -->
    </div>
</div>
<!-- /.container -->
@section AngularScript{
    <script src="angular-tablescroll.js"></script>
    <script src="~/Areas/Sales/ScriptsNg/Controllers/FactorySalesDeliveryOrderEntryCtrl.js"></script>
    <script src="~/Areas/Sales/ScriptsNg/Service/CrudService.js"></script>
    <script src="~/Areas/Sales/ScriptsNg/Directives/Conversion.js"></script>
    <script src="~/Areas/SystemCommon/ScriptsNg/Controllers/BreadcrumbCtrl.js"></script>
    <script src="~/Areas/Token/TokenController.js"></script>
}
