@{
    ViewBag.Title = "Purchase Accessment Cost";
} 

<div ng-controller="tokenCtrl">
    <div class="container" ng-controller="costAccessmentCtrl">
        <!-- Breadcrumbs line -->
        <div ng-hide="pageValue" class="ng-hide">
            <!--Logged User-->
            <input type="hidden" id="hUserID" name="userID" value="@Session["UserID"].ToString()" ng-model="UserID" />
            <!--Logged Company-->
            <input type="hidden" id="hCompanyID" name="companyID" value="@Session["CompanyID"].ToString()" ng-model="CompanyID" />
        </div>

        <!-- Breadcrumbs line -->
        <div ng-controller="BreadcrumbCtrl">
            @Html.Partial("~/Areas/SystemCommon/Views/Shared/_Partial/_Breadcrumbs.cshtml")
        </div>
        <!-- /Breadcrumbs line -->
        <!--=== Page Header ===-->
        <div class="page-header">

        </div>
        <!-- /Page Header -->
        <!--=== Page Content ===-->
        <div id="PIDiv">

            <div class="row">

                <div class="col-md-12">
                    <div class="widget box">
                        <div class="widget-header">
                            <h4><i class="icon-reorder"></i> Accessment Cost</h4>
                            <div class="toolbar no-padding">
                                <div class="btn-group">

                                    @*<span id="save" class="btn btn-success margin-right-btn" ng-click="save()" ng-disabled="frmMRR.$invalid">
                                            <i class="icon-save"></i> {{btnMrrSaveText}}
                                        </span>
                                        <span id="show" class="btn btn-info margin-right-btn" ng-href="#MrrModal" data-toggle="modal" ng-click="loadMrrRecords()">
                                            <i class="icon-search"></i> {{btnMrrShowText}}
                                        </span>
                                        <span id="reset" class="btn btn-danger margin-right-btn" ng-click="clear()">
                                            <i class="icon-refresh"></i> Reset
                                        </span>*@

                                    <span id="reset" class="btn btn-danger margin-right-btn" ng-click="clear()">
                                        <i class="icon-refresh"></i> Reset
                                    </span>

                                    <span id="Show" class="btn btn-info margin-right-btn" ng-click="ShowHide()">
                                        <i class="icon-search" ng-show="IsListIcon"></i> <i ng-show="IsCreateIcon" class="icon-plus-sign"></i> {{btnShowText}}
                                    </span>

                                    <span id="save" class="btn btn-success margin-right-btn" ng-click="save()" ng-disabled="frmGRR.$invalid">
                                        <i class="icon-save"></i> {{btnSaveText}}
                                    </span>

                                    <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content" ng-show="IsShow">
                            @Html.Partial("~/Areas/Purchase/Views/Cost/_Partial/_formCostAccessment.cshtml")
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">

                <div class="col-md-12">
                    <div class="widget box">
                        <div class="widget-header">
                            <h4><i class="icon-reorder"></i> Accessment Detail</h4>
                            <div class="toolbar no-padding">
                                <div class="btn-group">

                                    @*<span id="reset" class="btn btn-danger margin-right-btn" ng-click="clear()">
                                            <i class="icon-refresh"></i> Reset
                                        </span>

                                        <span id="Show" class="btn btn-info margin-right-btn" ng-click="ShowHide()">
                                            <i class="icon-search" ng-show="IsListIcon"></i> <i ng-show="IsCreateIcon" class="icon-plus-sign"></i> {{btnShowText}}
                                        </span>

                                        <span id="save" class="btn btn-success margin-right-btn" ng-click="save()" ng-disabled="frmGRR.$invalid">
                                            <i class="icon-save"></i> {{btnSaveText}}
                                        </span>*@

                                    <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content" ng-show="IsShow">

                            @Html.Partial("~/Areas/Purchase/Views/Cost/_Partial/__tableCostAccessmentDetailsInfo.cshtml")

                            @*<input type="button" id="Add" class="btn btn-info margin-right-btn" value="Add New Row" />*@
                            @*<div class="row">
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <span>

                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <span>
                                                <input type="button" id="Add" class="btn btn-info margin-right-btn" value="Add New Row" />
                                            </span>
                                        </div>
                                    </div>
                                </div>*@

                        </div>
                    </div>
                </div>
            </div>

            <div class="row" ng-hide="IsHidden">
                <div class="col-md-12">
                    <div class="widget box">
                        <div class="widget-header">
                            <h4><i class="icon-reorder"></i> {{ListTitleGRRMasters}}</h4>
                            <div class="toolbar no-padding">
                                <div class="btn-group">
                                    <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content no-padding">

                            @Html.Partial("~/Areas/Purchase/Views/Cost/_Partial/_tableCostAccessmentMastrsInfo.cshtml")

                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div> <!-- /.col-md-12 -->
            </div>

            <div class="row">
                <!-- Modal dialog -->
                <div class="modal fade" id="FileModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title"><i class="icon-folder-open"></i> GRR Documents</h4>
                            </div>
                            <div class="modal-body no-padding">

                                @*@Html.Partial("~/Areas/Sales/Views/Cost/_Partial/_tableFilesInfo.cshtml")*@

                            </div>
                            <div class="modal-footer">

                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div> <!-- /.row -->

        </div>


    </div>
    </div>
    <!-- /.container -->
    @section AngularScript{


        <script src="~/Areas/Purchase/ScriptsNg/Controllers/CostAccessmentCtrl.js"></script>
        <script src="~/Areas/Inventory/ScriptsNg/Controllers/GRRCtrl.js"></script>
        <script src="~/Areas/Inventory/ScriptsNg/Service/GRRService.js"></script>
        <script src="~/Areas/Inventory/ScriptsNg/Service/QCService.js"></script>
        <script src="~/Areas/Inventory/ScriptsNg/Service/MRRService.js"></script>
        @*<script src="~/Areas/Inventory/ScriptsNg/Controllers/RequisitionCtrl.js"></script>*@
        <script src="~/Areas/Inventory/ScriptsNg/Service/RequisitionService.js"></script>
        <script src="~/Areas/Inventory/ScriptsNg/Service/CrudService.js"></script>
        <script src="~/Areas/Inventory/ScriptsNg/Directives/Conversion.js"></script>
        <script src="~/Scripts/CustomToastrMessage.js"></script>
        <script src="~/Areas/SystemCommon/ScriptsNg/Controllers/BreadcrumbCtrl.js"></script>
       <script src="~/Areas/Token/TokenController.js"></script>
      <script src="~/Areas/SystemCommon/ScriptsNg/Service/DataHandler.js"></script>


    }
