@{
    ViewBag.Title = "Brekage, Wastage and Stops Entry";
}
<div ng-controller="tokenCtrl">
    <div class="container" ng-controller="BWSCtrl">
        <!-- /Breadcrumbs line -->
        <div ng-controller="BreadcrumbCtrl">
            @Html.Partial("~/Areas/SystemCommon/Views/Shared/_Partial/_Breadcrumbs.cshtml")
        </div>
        <!-- /Breadcrumbs line -->
        <!--=== Page Header ===-->
        <div class="page-header">

        </div>
        <!-- /Page Header -->
        <!--=== Page Content ===-->
        <!--==Delete Modal From System Common==-->
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("~/Areas/SystemCommon/Views/DeleteModal/_modalCmnDelete.cshtml")
            </div>
        </div>
        <!--==Delete Modal From System Common==-->
        <div class="row">
            <div class="col-md-12">
                <div class="widget box">
                    <div class="widget-header">
                        <h4><i class="icon-reorder"></i> {{PageTitle}}</h4>
                        <div class="toolbar no-padding">
                            <div class="btn-group">
                                @Html.Partial("~/Areas/SystemCommon/Views/CommonButton/_cmnButton.cshtml")
                                @*<span id="reset" class="btn btn-danger margin-right-btn" ng-click="clear()"><i class="icon-refresh"></i> Reset</span>
                                <span id="Show" class="btn btn-info margin-right-btn" ng-click="ShowHide()"><i id="Icon-Show" class="icon-search"></i>{{btnShowList}}</span>
                                <span id="save" class="btn btn-success margin-right-btn" ng-if="UserCommonEntity.EnableInsert" ng-show="IsShowSave" ng-disabled="frmBWS.$invalid" ng-click="save()">
                                    <i id="Icon-Save" class="icon-save"></i> {{btnSaveText}}
                                </span>
                                <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>*@
                            </div>
                        </div>
                    </div>
                    <div class="widget-content" ng-show="IsShow">
                        @Html.Partial("~/Areas/Production/Views/Configuration/_Partial/_formBreakageWastageStop.cshtml")
                    </div>
                </div>
            </div> <!-- /.col-md-12 -->
        </div>
        <div class="row" ng-hide="IsHidden">
            <div class="col-md-12">
                <div class="widget box">
                    <div class="widget-header">
                        <h4><i class="icon-reorder"></i> {{ListTitleBWSMaster}}</h4>
                        <div class="toolbar no-padding">
                            <div class="btn-group">
                                <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content">
                        <div when-scrolled="loadAllBWSMasterRecords(0)">
                            @Html.Partial("~/Areas/Production/Views/Configuration/_Partial/_tableBreakageWastageStop.cshtml")
                        </div>
                    </div>
                </div>
            </div> <!-- /.col-md-12 -->
        </div>
    </div>
</div>
<!-- /.container -->
@section AngularScript{
    <script src="~/Areas/Production/ScriptsNg/Controllers/BWSCtrl.js"></script>
    <script src="~/Areas/Production/ScriptsNg/Service/CrudService.js"></script>
    <script src="~/Areas/Production/ScriptsNg/Directives/Conversion.js"></script>
    <script src="~/Areas/SystemCommon/ScriptsNg/Controllers/BreadcrumbCtrl.js"></script>
    <script src="~/Areas/Token/TokenController.js"></script>
    <script src="~/Areas/Production/ScriptsNg/Directives/Scroller.js"></script>
}
