@{
    ViewBag.Title = "Sales Invoice";
}
<div ng-controller="tokenCtrl">
    <div class="container" ng-controller="SalesInvoiceCtrl">
        <!-- Breadcrumbs line -->
        <div ng-controller="BreadcrumbCtrl">
            @Html.Partial("~/Areas/SystemCommon/Views/Shared/_Partial/_Breadcrumbs.cshtml")
        </div>
        <!-- /Breadcrumbs line -->
        <!--=== Page Header ===-->
        <div class="page-header">

        </div>
        <!-- /Page Header -->
        <!--=== Page Content ===-->
        <!--==Delete Modal From System Common==-->
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("~/Areas/SystemCommon/Views/DeleteModal/_modalCmnDelete.cshtml")
            </div>
        </div>
        <!--==Delete Modal From System Common==-->
        <div class="row">
            <div class="col-md-12">
                <div class="widget box">
                    <div class="widget-header">
                        <h4><i class="icon-reorder"></i> {{PageTitle}}</h4>
                        <div class="toolbar no-padding">
                            <div class="btn-group">
                                @Html.Partial("~/Areas/SystemCommon/Views/CommonButton/_cmnButton.cshtml")
                            </div>
                        </div>
                    </div>
                    <div id="frmEntry" class="widget-content">
                        @Html.Partial("~/Areas/LocalSales/Views/SalesInvoice/_Partial/_formDamageSalesInvoice.cshtml")
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div> <!-- /.col-md-12 -->
        </div>
        <div class="row" ng-hide="IsHiddenDetail">
            <div class="col-md-12">
                <div class="widget box">
                    <div class="widget-header">
                        <h4><i class="icon-reorder"></i> {{DetailsTitle}}</h4>
                        <div class="toolbar no-padding">
                            <div class="btn-group">
                                <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content no-padding">
                        @Html.Partial("~/Areas/LocalSales/Views/SalesInvoice/_Partial/_tableDamageSalesDetails.cshtml")
                    </div>
                </div>
            </div> <!-- /.col-md-12 -->
        </div>
        <div class="row">

            <div class="col-md-12" ng-hide="IsHidden">
                <div class="widget box">
                    <div class="widget-header">
                        <h4><i class="icon-reorder"></i> {{ListTitle}}</h4>
                        <div class="toolbar no-padding">
                            <div class="btn-group">
                                <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content no-padding">
                        @Html.Partial("~/Areas/LocalSales/Views/SalesInvoice/_Partial/_tableSalesInvoiceMaster.cshtml")
                    </div>
                </div>
            </div> <!-- /.col-md-12 -->
        </div>
        <div class="row">
            @*<div class="col-md-12">*@
            @Html.Partial("~/Areas/Production/Views/WastageEntry/_Partial/_treeDropModal.cshtml")
            @*</div>*@
        </div><!-- /.modal -->
        <div class="row">
            @Html.Partial("~/Areas/Sales/Views/PI/_Partial/_tableSampleNoInfoModal.cshtml")
        </div>
    </div>
</div>

<!-- /.container -->
@section AngularScript{
    <script src="~/Areas/Production/ScriptsNg/Directives/DropdownMultiselect.js"></script>

    @*<script src="~/Areas/Production/ScriptsNg/Controllers/FinishGoodCtrl.js"></script>
        <script src="~/Areas/Production/ScriptsNg/Service/FinishGoodService.js"></script>*@

    <script src="~/Areas/LocalSales/ScriptsNg/Controllers/SalesInvoiceCtrl.js"></script>
    <script src="~/Areas/LocalSales/ScriptsNg/Service/SalesInvoiceService.js"></script>
    <script src="~/Areas/Production/ScriptsNg/Service/CrudService.js"></script>
    <script src="~/Areas/Production/ScriptsNg/Directives/Conversion.js"></script>
    <script src="~/Areas/Production/ScriptsNg/Directives/Scroller.js"></script>
    <script src="~/Areas/SystemCommon/ScriptsNg/Controllers/BreadcrumbCtrl.js"></script>
    <script src="~/Areas/Token/TokenController.js"></script>
}